@use super::super::layout_html;
@use crate::layout::SideBar;
@use crate::templates::team::new_html;
@use crate::templates::team::view_html;

@()

@:layout_html("Team", {
    <div class="m_card">
        <div class="header">
            <span>Team</span>
            <button class="a_button primary mini" data-drawer-target="new-team-member-drawer">+ Invite a New Team Member</button>
        </div>
        <div class="body">
            <table class="m_table team_table">
                <thead>
                    <tr>
                        <th>Team Member</th>
                        <th>Special Privelages</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Emma Bird</td>
                        <td>Team Administrator and Editor</td>
                        <td>
                            <a href="#" data-drawer-target="view-team-member-drawer">Details</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Kenneth Hines <span class="a_badge a_badge--success">Invited</span></td>
                        <td>Team Administrator</td>
                        <td>
                            <a href="#" data-drawer-target="view-team-member-drawer">Details</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @:new_html()
    @:view_html()
}, SideBar::Team)