@use super::super::layout_html;
@use crate::layout::SideBar;
@use super::new_html;

@()

@:layout_html("API Keys", {
    <div class="m_card">
        <div class="header">
            <span>Your API Keys</span>  
            <button class="a_button primary mini" data-drawer-target="new-api-key-drawer">+ Create an API Key</button>
        </div>
        <div class="body">
            <table class="m_table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Key</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>My API Key</td>
                        <td>zaCELgL. 0imfnc8mVLWwsAawjYr4Rx-Af50DDqtlx</td>
                        <td><button class="a_button danger mini">Revoke Key</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @:new_html()
}, SideBar::ApiKeys)