.a_badge {
	border-radius: 5px;
	border: 1px solid #eaeaea;
    font-size: .75rem;
    padding: 3px;

    &--success {
        border-color: var(--success);
        background-color: var(--success);
        color: #fff;
    }
}