@use super::statics::*;
@use crate::layout;
@use crate::layout::SideBar;

@(title: &str, content: Content, side_bar: SideBar)

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  </meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </meta>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </meta>
  <title>@title</title>
  <link rel="stylesheet" href="/static/@index_css.name" type="text/css" />

  <script src="/static/@index_js.name" type="text/javascript" async></script>
  <link rel="icon" type="image/svg+xml" href="/static/@favicon_svg.name">
  </link>
</head>

<body>
  <div class="l_application">
    <input type="checkbox" id="nav-toggle" />
    <header>
      @* Handles the hamburger menu *@
      <label class="hamburger" for="nav-toggle">
        <div class="top_bun"></div>
        <div class="meat"></div>
        <div class="bottom_bun"></div>
      </label>

      <div>
      </div>

      @* The icon to bring up the profile page *@
      <a class="profile" data-drawer-target="logout-drawer">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" height="42px">
          <circle cx="32" cy="32" r="32" />
          <text style="font: 2rem sans-serif" stroke="white" fill="white" text-anchor="middle"
            dominant-baseline="central" x="50%" y="50%">IP</text>
        </svg>
      </a>

    </header>

    @* Navigation shown as a side menu *@
    <nav>
      <h1><a href="@crate::dashboard::INDEX">The Application</a></h1>

      <div class="team-name"><strong>Team : </strong><a href="@crate::team::SWITCH">My Team</a></div>

      <h2>Application</h2>

      <ul>
        <li class='@layout::get_menu_class(&side_bar, &SideBar::Dashboard, false)'>
          <img alt="Menu Item" width="24" height="24" src="/static/@home_svg.name"></img>
          <a href="@crate::dashboard::INDEX">Dashboard</a>
        </li>

        <li class='@layout::get_menu_class(&side_bar, &SideBar::Crud, false)'>
          <img alt="Menu Item" width="24" height="24" src="/static/@dashboard_svg.name"></img>
          <a href="@crate::crud::INDEX">Crud</a>
        </li>
      </ul>

      <h2>Collaborate</h2>
      
      <ul>
        <li class='@layout::get_menu_class(&side_bar, &SideBar::Team, false)'>
          <img alt="Menu Item" width="24" height="24" src="/static/@team_svg.name"></img>
          <a href="@crate::team::INDEX">Team Members</a>
        </li>

      </ul>

      <h2>Developers</h2>
      
      <ul>
        <li class='@layout::get_menu_class(&side_bar, &SideBar::ApiKeys, false)'>
          <img alt="Menu Item" width="24" height="24" src="/static/@api_svg.name"></img>
          <a href="@crate::api_keys::INDEX">API Keys</a>
        </li>

      </ul>

      <h2>Account</h2>
      
      <ul>

        <li class='@layout::get_menu_class(&side_bar, &SideBar::Subscriptions, false)'>
          <img alt="Menu Item" width="24" height="24" src="/static/@subscription_svg.name"></img>
          <a href="@crate::subscriptions::INDEX">Your Subscription</a>
        </li>

        <li class='@layout::get_menu_class(&side_bar, &SideBar::NewTeam, false)'>
          <img alt="Menu Item" width="24" height="24" src="/static/@switch_svg.name"></img>
          <a href="@crate::team::SWITCH">Switch Teams</a>
        </li>

        <li class='@layout::get_menu_class(&side_bar, &SideBar::None, false)'>
          <img alt="Menu Item" width="24" height="24" src="/static/@profile_svg.name"></img>
          <a class="clickable" data-drawer-target="logout-drawer">Your Profile</a>
        </li>

      </ul>

      @* A user profile drawer *@
      <div class="profile">
        <form class="m_form" method="post" action="/auth/sign_out">
          <side-drawer label="Logout ?" id="logout-drawer">
            <template slot="body">
              <p>Are you sure you want to Logout?</p>
            </template>
            <template slot="footer">
              <button class="a_button auto danger" slot="footer" type="submit">Logout</button>
            </template>
          </side-drawer>
        </form>
      </div>
    </nav>

    @* The main content for our page *@
    <main class="container">
      <section class="content">
        @:content()
      </section>
    </main>

  </div>
  <snack-bar></snack-bar>
</body>

</html>