body {
    .l_application {
        
        background-color: var(--accents-2);
        color: var(--accents-6);
        min-height: 100vh;
    
        > header {
            grid-area: header;
            padding: 0 1rem;
            background-color: var(--background);
            border-bottom: 1px solid var(--accents-2);
            display: flex;
            justify-content: space-between;
            align-items: center;
            > ul {
                list-style-type: none;
                padding: 0;
                display: flex;
                flex-direction: row;
                gap: 1em;
    
                img {
                    width: 2.5em;
                    height: 2.5em;
                }
            }
        }
    
        > aside {
            display: none;
            grid-area: sidenav;
            background-color:var(--sidebar-bg);
            > h1 {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                margin: 0;
                text-align: center;
                height: 80px;
                color: var(--success);
                font-size: 1rem;
                border-bottom: 1px solid var(--sidebar-border);
                font-weight: 500;
    
                > a {
                    color: white;
                    text-decoration: none;
                }
            }
            > h2 {
                color: var(--accents-4);
                font-size: 0.8rem;
                font-weight: 250;
                padding: 1rem;
                padding-bottom: 0;
                border-top: 1px solid var(--sidebar-border);
                text-transform: uppercase;
            }
            > ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
    
                > li {
                    display: flex;
                    align-items: center;
                    padding: .75rem 1rem;
                    font-weight: 300;
                    border-bottom: 1px solid var(--sidebar-border);
    
                    > a {
                        color: white;
                        text-decoration: none;
                        margin-left: 1em;
                        font-size: 1.1em;
                    }
    
                    &.selected {
                        background-color: rgba(250,250,250,.2);
                    }
    
                    &.submenu {
                        padding-left: 3.5rem;
                    }
                }
            }
            > .profile {
                width: 240px;
                position: absolute;
                bottom: 0;
                display: flex;
                justify-content: center;
                padding: 1rem;
            }
        }
    
        // If the hamburger gets toggles show the menu.
        &.collapse {
            > aside {
                display: block;
            }
        }
        
        @include for-tablet-landscape-up {
            display: grid;
            grid-template-columns: 240px 1fr;
            grid-template-rows: 80px 1fr;
            grid-template-areas:
              "sidenav header"
              "sidenav main";
            
            > aside {
                display: block;
            }
    
            &.collapse {
                grid-template-columns: 1fr;
                grid-template-areas:
                  "header"
                  "main";
                > aside {
                    display: none;
                }
            }
        }
    }
}