.m_card {
    margin-bottom: 2em;
    background-color: var(--background);
    border: 1px solid var(--accents-2);
    border-radius: 5px;

    &.clickable {
        cursor: pointer;
        &:hover {
            box-shadow: var(--shadow-medium);
        }
    }

    > .body {
        padding: 1em;
    }

    > .header {
        padding: 1em;
        background-color: var(--accents-1);
        border-bottom: 1px solid var(--accents-2);
        color: var(--accents-6);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        > div {
            display: flex;

            > * {
                padding-left: 1rem;
            }

            &.actions {
                > * {
                    margin-left: 1em;
                }
            }
        }
    }

    > .footer {
        padding: 1em;
        background-color: var(--accents-1);
        border-top: 1px solid var(--accents-2);
        color: var(--accents-6);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        &.button_bar {
            justify-content: start;
            .a_button {
                margin-right: 1rem;
            }
        }
    }

    &__empty {
        text-align: center;

        h3 {
            font-weight: 500;
        }

        h4 {
            font-weight: 400;
        }
    }
}