body > .l_application > main {
    grid-area: main;
    display: flex;
    flex-direction: column;

    > section.content {
        padding: var(--content-padding);
        height: 100%;

        > div {
            height: 100%;
        }

        > h2:nth-child(1) {
            margin: 0;
            margin-left: -1rem;
            margin-right: -1rem;
            padding-left: 1rem;
            padding-bottom: 0.8rem;
            border-bottom: 1px solid red;
        }
    }

    section.split-content {
        height: 100%;
        display: flex;
        flex-direction: row;
        > aside {
            width: 300px;
            

            > ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
    
                > li {
                    display: flex;
                    align-items: center;
                    padding: .75rem 1rem;
                    font-weight: 300;
                    border-bottom: 1px solid var(--sidebar-border);
    
                    > a {
                        text-decoration: none;
                        margin-left: 1em;
                        font-size: 1.1em;
                    }
    
                    &.selected {
                        background-color: var(--vault-selected);
                        a {
                            color: white;
                        }
                    }
                }
            }
        }
        > main {
            background-color:var(--background);
            padding: 1em;
            width: 100%;

            > h2:nth-child(1) {
                margin: 0;
                margin-left: -1rem;
                margin-right: -1rem;
                padding-left: 1rem;
                padding-bottom: 0.8rem;
                border-bottom: 1px solid red;
            }
        }
    }
}
        