@use super::super::layout_html;
@use crate::layout::SideBar;
@use crate::templates::crud::new_html;

@()

@:layout_html("Crud", {
    <div class="m_card m_card__empty">
        <div class="header">
        </div>
        <div class="body">
            <h2>No Items Created</h2>
            <h3>Create your first item to get started</h3>
            <button class="a_button mini primary" data-drawer-target="new-crud-drawer">Create A Item</button>
            <p><a href="@crate::crud::FILLED">Filled Page</a></p>
        </div>
    </div> 
    @:new_html()
}, SideBar::Crud)