@use crate::crud::NEW;

@()

<form class="m_form" method="post" action=@NEW>
    <side-drawer id="new-filter-drawer" label="Filter Columns">
        <template slot="body">
            <table class="m_table m_form m_filter">
                <thead>
                    <tr>
                        <th>Column Name</th>
                        <th>Filter</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select>
                                <option>Status</option>
                            </select>
                        </td>
                        <td>
                            <select>
                                <option>Equal to</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" value="Outstanding" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option>Hours</option>
                            </select>
                        </td>
                        <td>
                            <select>
                                <option>Greater Than</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" value="10" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                <option></option>
                            </select>
                        </td>
                        <td>
                            <select>
                                <option>Equal To</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" value="" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </template>

        <template slot="footer">
            <button class="a_button auto success" type="submit">Apply Filter</button>
        </template>
    </side-drawer>
</form>