@use super::statics::*;

@(title: &str, content: Content)

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  </meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </meta>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </meta>
  <title>@title</title>
  <link rel="stylesheet" href="/static/@index_css.name" type="text/css" />
  <link rel="icon" type="image/svg+xml" href="/static/@favicon_svg.name">
  </link>
</head>

<body>
  <div class="l_application">
    <header>
    </header>
    <aside class="sidenav">
      <h1><a href="/app/vaults">Cloak</a></h1>
      <ul>
        <li class="selected"><img alt="Menu Item" width="24px"
            src="/static/@vault_svg.name"></img><a
            href="/app/vaults">Vaults</a></li>
        <li class=""><img alt="Menu Item" width="24px"
            src="/static/@accounts_svg.name"></img><a
            href="/app/service_accounts">Service Accounts</a></li>
        <li class=""><img alt="Menu Item" width="24px"
            src="/static/@users_svg.name"></img><a href="/app/team">Team</a>
        </li>
      </ul>
      <div class="profile"><button class="a_button ghost" data-drawer-target="logout-drawer">Logout</button>
        <form class="m_form" method="post" action="/auth/sign_out">
          <side-drawer label="Logout ?" id="logout-drawer"><template slot="body">
              <p>Are you sure you want to Logout?</p>
            </template><template slot="footer"><button class="a_button auto danger" slot="footer"
                type="submit">Logout</button></template></side-drawer>
        </form>
      </div>
    </aside>
    <main class="container">
      <section class="content">
        <div>
          @:content()
        </div>
      </section>
    </main>
  </div>
  <snack-bar></snack-bar>
</body>

</html>